.input1{
    background-color: chartreuse;
}
.input2{
    background-color: blanchedalmond;
}
.input3{
    background-color: cyan;
}
.input4{
    background-color: aquamarine;
}
.input5{
    background-color: coral;
}
.input6{
    background-color: deeppink;
}
.input7{
    background-color: gold;
}
